<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/css/404.css" />
  <!-- CSS 링크 -->
  <title>Not Found Page</title>
  <!-- 파비콘 추가 -->
  <link rel="icon" href="/static/img/vite.svg" type="image/svg+xml" />
</head>
<body>
  <div class="container">
    <div class="not">
      <h1>Not Found Page</h1>
    </div>
    <div class="error">
      <p>404 error</p>
      <a href="http://localhost:5173/">HOME</a>
    </div>
  </div>
</body>
</html>
